

body{
    background-image: url("https://images.unsplash.com/photo-1533134486753-c833f0ed4866?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    color:whitesmoke;
    font-size: 1.5rem;
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

article{
    min-height: 20vh;
    min-width: 20vw;
    max-width: 80vw;
    max-height: 80vh;
    text-indent: 3rem;
    font-size: 1.7rem;
    line-height: 2.5rem;
}

h1{
    text-align: center;
    font-size: 3rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.aboutme{
    border: 1px solid white;
    background: rgba(22, 21, 21, 0.842);
    min-height: 200px;
    min-width: 300px;
    max-height: 40vh;
    max-width: 25vw;
    font-size: 2.5rem;
}

section h2, section p, h2{
    text-align: center;
}

.skills-section{
    background: rgba(22, 21, 21, 0.842);
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid white;
    flex-wrap: wrap;
    min-width: 10vw;
    min-height: 10vh;
    max-width: 50vw;
    max-height: 50vh;
}

.skills{
    font-size: 2rem;
}

.skills ul{
    list-style-type: none;
}


.project-section{
    border: 1px solid white;
    margin: 0;
    margin-left: 5vw;
    max-width: 89vw;
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
    gap: 2vw;
}

h2{
    font-size: 3rem;
}

.project-section .box{
    border: 1px solid white;
}

.box{
    display: block;
    width: 15vw;
}

.box h3{
    text-align: center;
}

img{
    width: 100%;
}

